body {
     background-color: antiquewhite;
}
header {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  background-color: rgb(255, 0, 0);
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
h1 {
    color: rgb(255, 255, 255);
}
div {
    border: 1px solid darkgray;
}